%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    %a.navbar-brand{:href => "/gacha"} Navbar
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          %a.nav-link.active{"aria-current" => "page", :href => "/gacha"} Home
        %li.nav-item
          %a.nav-link{:href => "/inventory"} Inventory
        %li.nav-item
          %a.nav-link{:href => "/market"} Market
        %li.nav-item
          %a.nav-link{:href => "/redeem"} Redeem
        %li.nav-item
          %a.nav-link{:href => "/logout"} Logout
        -if(User.find_by(id: session[:user_id]))
          %li.nav-item
            %a.nav-link{:href => "/logout"} Credit : #{User.find(session[:user_id]).credit}
      %form.d-flex
        %input.form-control.me-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
        %button.btn.btn-outline-success{:type => "submit"} Search

